button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.button {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #f5f5f5;
}

.button i {
    font-size: 18px;
    color: #333;
}

.button span {
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: left;
}

.header h1 {
    display: inline-block;
    margin: 0;
}

nav {
    float: right;
    margin-top: -50px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    transition: .3s;
    font-size: 17px;
}

nav a:hover {
    color: rgb(6, 147, 217);
}

.search-bar {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #f1f1f1;
}

.search-bar input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.container {
    display: flex;
    padding: 20px;
}

.left-section,
.right-section {
    border: 1px solid #ccc;
    padding: 20px;
    margin-right: 20px;
}

.left-section {
    width: 30%;
    text-align: center;
}

.left-section img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

.right-section {
    width: 65%;
}

.columns {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.column {
    width: 30%;
    border: 1px solid #ccc;
    padding: 15px;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #e6d078;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 30px;
    margin-right: 10px;
}

.links {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: ;
    width: 70%;
    margin: ;
    height: 50px;
}

.links a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #3b5998;
    color: white;
    border-radius: 50%;
    margin: 0 5px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
}

.download-app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.download-app a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
}

.download-app a:hover {
    background-color: #ddd;
}

.download-app img {
    width: 120px;
    height: 40px;
}